*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 9fr;
	grid-template-areas: 'header header' 'side-section main-section';
}

/* Header */
.header {
	width: 100%;
	background: #333;
	display: flex;
	align-items: center;
	grid-area: header;
}

.logo {
	color: #fff;
	font-size: 3rem;
	padding-left: 3rem;
}

/* Search bar */
.search-bar {
	position: relative;
	left: 30%;
	width: 400px;
	padding: .5rem;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-size: 1.25rem;
}

/* Side Section */
.side-section {
	background: #ddd;
	padding-top: 2rem;
	grid-area: side-section;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.side-section > * {
	width: 80%;
	margin: 1rem 0;
}

.projects-select-div > * {
	padding: .5rem 0;
	cursor: pointer;
	font-size: 1.2rem;
}

.projects-select-div > *:hover {
	background: #ccc;
}

/* Counters */
.home-div,
.today-div,
.this-week-div,
.project-name-counter {
	display: flex;
	align-items: center;
}

.home-div-name,
.today-div-name,
.this-week-div-name,
.project-name {
	margin: 0 .5rem;
}

.counter {
	font-size: .85rem;
	color: #333;
}

.projects-title-add {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.projects-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.projects-add {
	background: transparent;
	border: none;
	outline: none;
	font-size: 1.5rem;
	cursor: pointer;
}

.projects-list {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* Main Section */
.main-section {
	grid-area: main-section;
	padding-left: 100px;
}

.to-do-items {
	width: 1200px;
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
}

.to-do-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.to-do-item-priority {
	width: 1.75rem;
	height: 1.75rem;
	border-radius: 50%;
	border: 3px solid;
	cursor: pointer;
}

.add-task {
	width: 100%;
	padding: .5rem 0;
	font-size: 1.15rem;
	cursor: pointer;
}

.add-task > span {
	font-weight: bold;
	font-size: 1.25rem;
}

/* Add task modal */
.modal-bg {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
}

.add-task-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 150px;
	display: flex;
	background: #fff;
	color: #000;
}

.priority-title,
.duedate-deletebtn {
	display: flex;
	align-items: center;
}

.priority-title > *,
.duedate-deletebtn > * {
	margin: 0 .5rem;
}

.to-do-item-delete,
.project-delete {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1.25rem;
}

/* completed class */
.completed-line {
	position: absolute;
	pointer-events: none;
}

.to-do-item.completed > * > * {
	color: #ddd;
}

.to-do-item.completed .completed-line {
	position: absolute;
	width: 100%;
	height: 3px;
	background: #ccc;
	top: 50%;
	transform: translateY(-50%);
}

/* projects */
.project-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 1.25rem;
}

.project-div {
	padding: .5rem 0;
}

.project-name-counter {
	padding: .25rem;
	cursor: pointer;
}

.project-name-counter:hover {
	background: #ccc;
}
